<footer class="page-footer blue darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Ubicacion</h5>
                <p class="grey-text text-lighten-4">Calle 11 #399, Esquina con Francisco Villa, 
                  Col. Ejido Matamoros,<br>
                  Tijuana B.C. <br>
                  C.P. 22204</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Siguenos</h5>
                <div class="social-links">
                  <a href="https://www.facebook.com/groups/339684826073814/"><i class="fa fa-facebook mar-l20"></i></a>
                   <a href="https://www.youtube.com/user/CasadeDiosTijuana/featured"><i class="fa fa-youtube mar-l20"></i></a>
                   <a href=""><i class="fa fa-cc-paypal mar-l20"></i></a>
                </div> 
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2015 Casa de Dios
            <a class="grey-text text-lighten-4 right" href="http://webmediadigital.com/">webmediadigital</a>
            </div>
          </div>
        </footer>