<div ng-include="'../app/components/header.html'"></div>


  <div class="row">
  	<div class="col s12 m5">
  		<h1>Predicaciones</h1>
  	</div>
  </div>

    <div class="row">
  <div class="col s4">
        <div class="card small">
        
       <div class="video-container ">
        <iframe width="420" height="300" src="https://www.youtube.com/embed/S5YWYoGDmzI" frameborder="0" allowfullscreen></iframe>
      </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4 ">Un Libertador<i class="mdi-navigation-more-vert right"></i></span>
          <p><a href="#"></a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Casa de Dios <i class="mdi-navigation-close right"></i></span>
          <p>Un Libertador.</p>
        </div>
      </div>
  </div>

   <div class="col s4">
        <div class="card small">
        <div class="video-container">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/2hJnvyAJeBI" frameborder="0" allowfullscreen></iframe>
       </div>	
        
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">El Poder de la Oracion <i class="mdi-navigation-more-vert right"></i></span>
          <p><a href="#"></a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">El Poder de la Oracion  <i class="mdi-navigation-close right"></i></span>
          <p>El Poder de la Oracion .</p>
        </div>
      </div>
  </div>
   <div class="col s4">
        <div class="card small">
        <div class="video-container">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/WwDBUJkjBfg" frameborder="0" allowfullscreen></iframe>
       </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Ya Basta
           <i class="mdi-navigation-more-vert right"></i></span>
          <p><a href="#"></a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Vision <i class="mdi-navigation-close right"></i></span>
          <p>Ya Basta.</p>
        </div>
      </div>
  </div>
</div>

<div class="row">
  <div class="col s4">
        <div class="card small">
        <div class="video-container">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/-5ASbNDpXTg" frameborder="0" allowfullscreen></iframe>
       </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Te Busque <i class="mdi-navigation-more-vert right"></i></span>
          <p><a href="#"></a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Te Busque <i class="mdi-navigation-close right"></i></span>
          <p>Te Busque.</p>
        </div>
      </div>
  </div>

   <div class="col s4">
        <div class="card small">
        <div class="video-container">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/JY1HKUN2zE0" frameborder="0" allowfullscreen></iframe>
       </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Bajo el Poder de Su Presencia <i class="mdi-navigation-more-vert right"></i></span>
          <p><a href="#"></a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Bajo el Poder de Su Presencia <i class="mdi-navigation-close right"></i></span>
          <p>Bajo el Poder de Su Presencia.</p>
        </div>
      </div>
  </div>
   <div class="col s4">
        <div class="card small">
        <div class="video-container">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/YzTLbK9UDtA" frameborder="0" allowfullscreen></iframe>
       </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">La Herencia de un Padre. <i class="mdi-navigation-more-vert right"></i></span>
          <p><a href="#"></a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">La Herencia de un Padre.  <i class="mdi-navigation-close right"></i></span>
          <p>La Herencia de un Padre. </p>
        </div>
      </div>
  </div>
</div>

<div class="row">
  <div class="col s4">
        <div class="card small">
        <div class="video-container">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/z66yDn5upYk" frameborder="0" allowfullscreen></iframe>
       </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Soy un Ofertante. <i class="mdi-navigation-more-vert right"></i></span>
          <p><a href="#"></a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Soy un Ofertante . <i class="mdi-navigation-close right"></i></span>
          <p>Soy un Ofertante .</p>
        </div>
      </div>
  </div>

   <div class="col s4">
        <div class="card small">
        <div class="video-container">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/FX8fpEFO6yE" frameborder="0" allowfullscreen></iframe>
       </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">La Gran Cena . <i class="mdi-navigation-more-vert right"></i></span>
          <p><a href="#"></a></p>
        </div>
        <div class="card-reveal">
         <span class="card-title grey-text text-darken-4">La Gran Cena  <i class="mdi-navigation-close right"></i></span>
          <p>HLa Gran Cena.</p>
        </div>
      </div>
  </div>
   <div class="col s4">
        <div class="card small">
        <div class="video-container">
       <iframe width="420" height="315" src="https://www.youtube.com/embed/pZRA23GwJ_A" frameborder="0" allowfullscreen></iframe>
       </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Hoy Perdi un Sueño <i class="mdi-navigation-more-vert right"></i></span>
          <p><a href="#"></a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Hoy Perdi un Sueño <i class="mdi-navigation-close right"></i></span>
          <p>Hoy Perdi un Sueño.</p>
        </div>
      </div>
  </div>
</div>

<ul class="pagination mar-b80">
    <li class="disabled"><a href="#!"><i class="mdi-navigation-chevron-left"></i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="mdi-navigation-chevron-right"></i></a></li>
  </ul>

  <div ng-include="'../app/components/footer.html'"></div>
   